<!DOCTYPE html>
<html>
  <head>
    <title>We Wat</title>
    <%= csrf_meta_tags %>

    <script src="https://maps.googleapis.com/maps/api/js?libraries=places,geometry&key=AIzaSyAF1vna8Tshfu-XF2RQirz3sgo0GYFLkqo"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'webpack-bundle' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
